body{
	background-color: black;
	background-image: url('images/backg2.jpeg');
	background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  font-family: 'Courier New',monospace;
  color: ghostwhite;
}
.container{
	background-color: black;
}
#navbar-header{
	background-color: black;
}
h1{
	background-color: black;
	text-align: center;
	font-family: Helvetica;
	color: whitesmoke;
	/*text-decoration: underline;*/
}
p{
	color: ghostwhite;
	font-size: 20px;
}
#copyright{
	text-align: right;
}
#caption{
	background-color: black;
	opacity: 0.5;
	width: 100px;
}
.panel-footer{
	background-color: black;
	color: gray;
}
#new{
	color: red;
}
a{
	color: ghostwhite;
	text-decoration: none;
}
